.col-12{
    display: flex;
    margin: 20px;
}
.container-info {
    justify-content: center;
    align-items: center;
  &__img {
      width: 300px;
      height: auto;
  }
  &__p1 {
      font-size: $fs-x-large;
      font-weight: $fw-bold;
      margin: 0;
      width: 300px;
  }
  &__p2 {
      color: $color-granite-gray;
      width: 300px;
  }
}

@include desktop-view{
    .col-12{
        display: flex;
        margin: 0;
    }
    .container-info{
        &__img {
            width: 150px;
            height: auto;
        }
        &__p1 {
            font-size: $fs-medium;
            font-weight: $fw-bold;
            margin: 0;
            width: 150px;
        }
        &__p2 {
            color: $color-granite-gray;
            font-size: $fs-x-small;
        }
    }
}

